@model saavyTechWeb.Models.Jobs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Jobs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issues)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.recepId)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.recepId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.dateIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.techReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.techReport)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.techId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.techId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.dateRepaired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateRepaired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCollected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCollected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.equiptmentType.equiptmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equiptmentType.equiptmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status.statusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status.statusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
